.div-alert-msg-error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    top: 15px;
    right: 50px;
    width: 300px;
    height: 60px;
    background-color: rgba(227, 12, 12, 0.74);
    z-index: 9999;
}

#icon-fa-square-error{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.855);
}

.div-alert-msg-error{
width: 70%;
display: flex;
flex-direction: column;
align-items: center;
}

#alert-msg-title-error{
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.855);
}

#alert-msg-msg-error{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.855);
}

@keyframes showAlert {
    from{
        display: flex;
        top: -50px;
        }

    to{
        top: 25px;
        display: flex;
    }
}


@keyframes hideAlert {
    from{
        top: 20px;
        scale: 100%;
        opacity: 1;
    }

    to{
        top: -25px;
        opacity: 0;
        display: none;
    }
}

.alert-off {
 display: none;
}
.alert-in {
  animation: showAlert 0.5s forwards;
}

.alert-out {
  animation: hideAlert 1s forwards;
}
