.remove-access-container{
    width: 96%;
    height: 100vb;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 145, 145, 0.474);
}


.div-remove-access-component{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    width: 850px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    padding: 35px;
}

.header-create-access{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 15px;
    padding: 5px;
}

